.pets{
	font-size:20px;
	font-family:Comic Sans MS;
}
	
h2 {
	text-decoration:underline;
	
}

div{
	margin:2px;
	padding:2px;
}

a:hover{
	background-color:yellow;
	font-weight: bold;
}

a:visited {
    color: red;
}

body{
	backgound-color:#def1f9
}